<div class="home-banners">
  <img class='home-banner-photo' src="https://images.unsplash.com/photo-1555617171-a072c97e09a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="haircutbanner 1">
  <img class='home-banner-photo' src="https://images.unsplash.com/photo-1565049186631-1321978d1eb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="haircutbanner 2">
</div>
<div class="home-text">
  <h1>Razor King</h1>
</div>
<div id="services" class="services">
  <div class="d-flex">
    <img class='haircut-home-banner' src="https://images.unsplash.com/photo-1519019121902-896ed7312a9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="haircutbanner 1">
    <div class="haircut-service d-flex justify-content-center align-items-center">
      <h4>Haircuts</h4>
    </div>
  </div>
  <div class="d-flex">
    <div class="haircut-service d-flex justify-content-center align-items-center">
      <h4>Beards</h4>
    </div>
    <img class='haircut-home-banner' src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="haircutbanner 1">
  </div>
</div>

