<div class="home-banners">
  <img class='home-banner-photo' src="https://images.unsplash.com/photo-1555617171-a072c97e09a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="haircutbanner 1">
  <img class='home-banner-photo' src="https://images.unsplash.com/photo-1565049186631-1321978d1eb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="haircutbanner 2">
</div>
<div class="home-text">
  <h1>Razor King</h1>
</div>
<div id="services" class="services">
  <div class="text-center mt-4 mb-5">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120px" height="71px" viewBox="0 0 120 71" version="1.1">
        <defs>
            <polygon id="path-1" points="0.000194594595 70.3545455 119.481276 70.3545455 119.481276 0.501518182 0.000194594595 0.501518182"/>
        </defs>
        <g id="SHED-DESIGN---HOME" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Desktop---HOME-layout-default" transform="translate(-659.000000, -1714.000000)">
            <g id="Page-1" transform="translate(659.000000, 1714.000000)">
              <path d="M75.2226811,44.7703409 C75.2226811,44.7703409 77.4598703,45.13115 78.1247351,46.6957318 L77.7621405,47.41735 L72.8648432,48.0795864 L64.3091676,49.6435227 L52.4881946,47.2972955 L51.7630054,48.9819318 L56.6097081,51.2539318 L60.5963027,52.3834773 L65.7368432,52.2789136 L65.1770595,53.32455 L61.7496,55.3035136 L58.7716541,55.6643227 L52.0691676,54.1584773 L50.7854919,55.0588864 L50.8561946,56.9842773 L54.7253838,57.7962591 L63.4659243,58.7076409 L69.0014919,56.9552318 L71.2244108,57.6381227 L66.344627,61.7980773 L57.9608432,62.0110773 L48.9816,60.4135773 L48.5281946,62.0678773 L52.3980324,64.3644045 L58.2151135,65.2970864 L58.9662486,65.82055 L58.5828973,66.63705 L56.1504649,66.6777136 L52.0737081,67.0720864 L36.6183568,62.2511864 L26.3314378,52.6971682 L22.9195459,45.6914045 L27.8453838,37.5025227 L36.6871135,31.0324864 L46.9506811,30.7355773 L51.9238703,32.2756318 L56.2373838,36.5278864 L59.3560865,39.0993773 C59.3560865,39.0993773 59.8043027,40.55875 59.3813838,41.0402591 L54.0605189,39.5963773 L50.984627,37.3347045 L49.018573,37.6471045 L50.8023568,41.0357409 L54.5444108,43.0256773 L62.8276541,45.0711227 L64.0977081,45.6126591 L70.6879784,45.0110955 L73.0464649,44.7703409 L75.2226811,44.7703409 Z M15.2168432,11.6740136 L17.2043027,7.04029545 L21.8363027,4.35907727 L46.6192216,26.9570864 L39.6053838,27.8394227 L15.2168432,11.6740136 Z M12.5963027,36.2697045 L11.4676541,47.9014409 L8.00127568,48.2222318 L6.14678919,43.3290409 L7.43695135,38.5158864 L9.69424865,33.0605045 L13.160627,30.2527773 L17.6752216,32.6190136 L12.5963027,36.2697045 Z M85.1243027,30.5625955 L104.406032,16.1999409 L107.872411,15.7184318 L110.855546,16.3606591 L113.032411,18.8475955 L89.0077622,37.2604773 L88.3630054,36.1748227 L91.9908973,31.8031591 L106.66333,20.6122682 L106.421384,18.8475955 L84.6546811,34.7309409 L83.2030054,34.8916591 L85.1243027,30.5625955 Z M86.7387892,43.1650955 L119.481276,18.6868773 L108.356303,8.73913182 L66.3932757,39.4743864 L64.6302486,39.1852227 L59.1621405,33.4548773 L22.6951135,0.501195455 L17.2043027,2.25295909 L12.3394378,7.63217727 L10.9999784,13.4638591 L34.3584649,27.6141591 L23.6291676,31.6663227 L18.8953297,29.1096773 L10.762573,24.3765591 L3.62808649,32.1981773 L0.000194594595,47.9014409 L3.9803027,54.3650227 L17.6752216,53.0115045 L31.6711135,64.7006864 L50.3560865,70.3548682 L56.1096,69.29955 L61.3617081,69.4989955 L63.1454919,67.5626318 L62.4365189,65.7643955 L67.1612757,64.9659682 L76.5530595,59.1897955 L75.5852757,55.1789409 L71.2853838,54.1313682 L67.474573,54.8846136 L69.7396541,51.62765 L75.3037622,51.1280682 L83.1232216,50.3257682 L82.9221405,46.1541955 L78.3666811,41.8219045 L73.2073297,41.5011136 L79.978573,37.2604773 L86.7387892,43.1650955 Z" id="Fill-1" fill="#010202" mask="url(#mask-2)"/>
            </g>
          </g>
        </g>
    </svg>
    <h4 class='mt-3'>SERVICES</h4>
  </div>
  <div class="d-flex">
    <img class='haircut-home-banner' src="https://images.unsplash.com/photo-1514336937476-a5b961020a5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="haircutbanner 1">
    <div class="haircut-service text-center m-auto">
      <h4>Haircut</h4>
      <p>Tailored haircut with optional hot lather and straight razor neck shave</p>
      <p class='schedule-on-home' data-toggle="modal" data-target="#exampleModal">SCHEDULE</p>
    </div>
  </div>
  <div class="d-flex">
    <div class="haircut-service text-center m-auto">
      <h4>Beard Trim</h4>
      <p>Beard trim with scissor or clipper to shape and line up beard</p>
      <p class='schedule-on-home' data-toggle="modal" data-target="#exampleModal">SCHEDULE</p>
    </div>
    <img class='haircut-home-banner' src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="haircutbanner 1">
  </div>
  <div class="d-flex">
    <img class='haircut-home-banner' src="https://images.unsplash.com/photo-1519019121902-896ed7312a9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="haircutbanner 1">
    <div class="haircut-service text-center m-auto">
      <h4>Buzz Cut</h4>
      <p>One length clipper cut with an optional hot lather and straight razor neck shave</p>
      <p class='schedule-on-home' data-toggle="modal" data-target="#exampleModal">SCHEDULE</p>
    </div>
  </div>
  <div class="d-flex">
    <div class="haircut-service text-center m-auto">
      <h4>Straight Razor Shave</h4>
      <p>Classic shave with hot and cold towel service, pre-shave oil, hot lather & aftershave</p>
      <p class='schedule-on-home' data-toggle="modal" data-target="#exampleModal">SCHEDULE</p>
    </div>
    <img class='haircut-home-banner' src="https://images.unsplash.com/photo-1484291150605-0860ed671f04?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80" alt="haircutbanner 1">
  </div>
</div>
<footer>

</footer>
