// Specific CSS for your home-page


.home-banners{
  display: flex;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.home-banner-photo{
  padding: 10px;
  width: 50%;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.2s;
}


.services{
  h4{
    font-family: 'Bangers', cursive;
  }
}
.home-text{
  color: #7d5a5a;
  position: absolute;
  top: 40%;
  left: 36%;
  h1{
    font-family: 'Bangers', cursive;
    font-size: 84px;
    text-shadow: 2px 2px black;
  }
}
.haircut-home-banner{
  padding: 20px;
  width: 60%;
  filter: grayscale(100%);
  transition: 0.2s;
  &:hover{
    filter: grayscale(0%)
  }
}
.haircut-service{
  padding: 20px;
  width: 40%;
}
.fa-cut{
  font-size: 56px;
}
#booking-data{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 35px;

}

.time-label{
  margin-top: 35px;
  margin-bottom: 10px;
}
.schedule-on-home{
  font-size: 16px;
  padding: 8px;
  margin: auto;
  font-weight: bolder;
  width: 80%;
  border-radius: 4px;
  border: 2px solid #7d5a5a;
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}


.hour-select-wrapper{
text-align: center;
  input {
    display: none;
  }
  label {
  min-width: 92px;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 7px;
}
  label span {
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
}

label span:before,
label span:after {
  content: '';
}
label:before,
label:after {
  content: '';
}

label:before {
}

label:after {
  background: #00C4A6
}
label span:before {
  // border: 1px solid #222021;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
label span:after {
  background: #00C4A6;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 1px;
  transition: 300ms;
  opacity: 0;
  // border: 1px solid rgba(40,40,40,0.2);
}
label input:checked+span:after {
  opacity: 1;
}

}
@media(max-width: 480px) {
  #booking-data{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
