html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}
.footer{
  background-color: black;
  color: white;
  padding: 8px;
}
@media only screen and (max-width: 768px) {
  .footer{
  height: 100px;
    p{
      padding: 0 10px;
      margin: 0px;
    }
  }
}
