@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white opacity;
  position: fixed;
  z-index: 1;
  right: 0;
}
.navbar-link{
  color: rgba(20,20,20,1);
  padding: 8px;
  font-family: 'Bangers', cursive;
  font-size: 20px;
  a{
    text-decoration: none;
    color: #323232;
    padding-bottom: 4px;
  }
  &:hover{
    background-color: rgba(200,200,200, 0.3);
    text-decoration:none;
    color: #323232;
    border-bottom: 2px solid #323232;
  }
}
.navbar-expand-sm{
  a{
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
}
.navbar-toggler-icon{

  color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
